.git
.idea
*.weights
*.tflite
*.pb
res/**/checkpoints/
res/**/**/chictopia/
res/**/**/modanet/
res/**/**/stylesense/annotations/
res/**/**/stylesense/data/
res/**/**/stylesense/images/
res/**/test_images/
__pycache__
.vscode
*.json
