.git
.idea
*.weights
*.tflite
*.pb
res/**/checkpoints/
res/**/**/chictopia/
res/**/**/modanet/
res/**/**/stylesense/annotations/
res/**/**/stylesense/my_backup/
res/**/**/stylesense/data/images/
res/**/**/stylesense/batches/
res/**/test_images/
__pycache__
.vscode
*.json
*.zip
